* {
    box-sizing: border-box;
}


/* Page Defaults */

html,
body {
    /*background-color: #202020;*/
    /*background: radial-gradient(#ffffff, #7c8da2);*/
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%
}


/* Header */

.container {
    width: auto;
    /* height: 60px; */
    /*background-color: rgb(180, 228, 240);*/
    background: radial-gradient(#6eb3eb, #04141b);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media ( max-width: 768px) {
    body {
        font-size: 30px;
    }
}


/* Container Logo */

.container .logo {
    color: white;
    font-size: 24px;
    line-height: 35px;
    padding: 12px 20px;
    width: fit-content;
    height: fit-content;
}


/* Container Controls */

.container .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .controls>* {
    display: block;
    color: black;
    font-size: 1rem;
    line-height: 35px;
    margin: 12px 20px;
    text-align: center;
}

.container .slider {
    display: inline-block;
    padding-top: 0px;
    position: relative;
    bottom: -3px;
}


/* Dropdown Box */

.select-box {
    display: flex;
    width: 235px;
    flex-direction: column;
    position: relative;
}

.select-box .options-container {
    background-color: gray;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    width: 235px;
    transition: all 0.4s;
    opacity: 0;
    display: none;
    order: 1;
}

.selected {
    background-color: gray;
    border-radius: 8px;
    margin-bottom: 8px;
    color: yellow;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("img/down-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 32px;
    width: 32px;
    right: -2px;
    top: 1px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    opacity: 1;
    /* max-height: 240; */
    display: inline;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: 4px
}

.select-box .option,
.selected {
    padding: 0px 12px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.btn {
    border: 0;
    padding: 7px;
    border-radius: 8px;
    color: yellow;
    background-color: gray;
    margin: 46px;
    min-width: 160px;
    font-size: 16px;
    max-height: 30px;
}

.logoGif {
    width: 120px;
    height: auto;
    position: relative;
    top: 10px
}

.arrayContainer {
    width: 600px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.barContainer {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
}

.bars {
    width: 5px;
    background-color: purple;
    display: inline-block;
    margin: 0 1px;
}

rect {
    fill: rgb(136, 189, 230);
}